[submodule "bundle/python_fold"]
	path = bundle/python_fold
	url = http://github.com/vim-scripts/jpythonfold.vim.git
[submodule "bundle/NERD_tree-Project"]
	path = bundle/NERD_tree-Project
	url = http://github.com/vim-scripts/NERD_tree-Project.git
[submodule "bundle/NERD_tree"]
	path = bundle/NERD_tree
	url = http://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = http://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/indent-object"]
	path = bundle/indent-object
	url = http://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/liquidcarbon"]
	path = bundle/liquidcarbon
	url = https://github.com/vim-scripts/Liquid-Carbon.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "bundle/snipmate_for_django"]
	path = bundle/snipmate_for_django
	url = https://github.com/robhudson/snipmate_for_django.git
[submodule "bundle/indent-guides"]
	path = bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/extradite"]
	path = bundle/extradite
	url = git://github.com/int3/vim-extradite.git
[submodule "bundle/vim-rooter"]
	path = bundle/vim-rooter
	url = https://github.com/teranex/vim-rooter.git
[submodule "bundle/rope-vim"]
	path = bundle/rope-vim
	url = https://github.com/klen/rope-vim.git
[submodule "bundle/pyflakes-vim"]
	path = bundle/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/protobuf"]
	path = bundle/protobuf
	url = https://github.com/jdevera/vim-protobuf-syntax.git
[submodule "indentpython.vim"]
	path = indentpython.vim
	url = https://github.com/vim-scripts/indentpython.vim.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = https://github.com/bingaman/vim-sparkup.git
[submodule "bundle/ropevim"]
	path = bundle/ropevim
	url = https://github.com/klen/rope-vim.git
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/buffergator"]
	path = bundle/buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = https://github.com/hallettj/jslint.vim.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/cute-python"]
	path = bundle/cute-python
	url = https://github.com/ehamberg/vim-cute-python.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
