[submodule "bundle/conque-shell"]
	path = bundle/conque-shell
	url = http://github.com/vim-scripts/Conque-Shell.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = http://github.com/nvie/vim-pyflakes.git
[submodule "bundle/python_fold"]
	path = bundle/python_fold
	url = http://github.com/vim-scripts/jpythonfold.vim.git
[submodule "bundle/NERD_tree-Project"]
	path = bundle/NERD_tree-Project
	url = http://github.com/vim-scripts/NERD_tree-Project.git
[submodule "bundle/NERD_tree"]
	path = bundle/NERD_tree
	url = http://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = http://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/indent-object"]
	path = bundle/indent-object
	url = http://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/scmdiff/plugin"]
	path = bundle/scmdiff/plugin
	url = http://github.com/ghewgill/vim-scmdiff.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = http://github.com/wincent/Command-T.git
